<!DOCTYPE html>
<html>
<title>Gruppe 12</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<body>

<html>
<body>
<div class="w3-display-container" style="margin-bottom:50px">
        <img src="https://s-media-cache-ak0.pinimg.com/originals/7e/45/4e/7e454e67d22447e2fa06faa0fc436f00.jpg" style="width:100%">
    <div class="w3-display-bottomleft w3-container w3-amber w3-hover-orange w3-hide-small"
         style="bottom:10%;opacity:0.7;width:70%">
        <h2><b>Opplev Kristiansand <br>om sommeren</b></h2>
    </div>
</div>
</body>
</html>

<h1>Hello</h1>
<p>Weather at {{.Coord.Lat}}, {{.Coord.Lon}}</p>
<p>Temperature: {{.Main.Temp}}&#8451;</p>
<p>Humidity : {{.Main.Humidity}}%</p>
<p>Min Temperature: {{.Main.Temp_min}}&#8451;</p>
<p>Max Temperature: {{.Main.Temp_max}}&#8451;</p>

</body>
</html>
